@media all and (max-width: 78.125em) {
    .country-area {

        grid-template-columns: repeat(3, 1fr);

    }
}


@media all and (max-width: 62.5em) {
    .country-area {

        grid-template-columns: repeat(2, 1fr);

    }


    .box {
        height: 35rem;
    }

    .img-container {
        height: 21rem;
    }


    #countryInfo {
        grid-template-columns: repeat(1, 1fr);
    }

    #detailImageContainer {
        width: 50rem;
    }

    #countryInfo {
        text-align: center;
        justify-items: center;
    }

    #detailTextContainer {
        text-align: center;
    }

    #detailTextBorderCon {
        justify-content: center;
        flex-direction: column;
    }


}


@media all and (max-width: 46.875em) {

    .container {
        margin: 0 4rem;

    }

    #detailImageContainer {
        width: 40rem;
    }
}

@media all and (max-width: 37.5em) {

    .container {
        margin: 0 4rem;

    }


    .filter-area {
        flex-direction: column;
    }

    .input-box {
        margin-bottom: 2rem;
    }

    .country-area {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .box {
        width: 100%;
    }

    #detailImageContainer {
        width: 30rem;
    }

}

@media all and (max-width: 25em) {


    #search {
        width: 25rem;
    }

    #detailTextDescCon {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        margin: 0 2rem;
    }

    #detailImageContainer {
        width: 100%;
    }


}