@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca','sans-serif'

}
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center
    
    
}

.column{
    max-width: 115rem;
    margin: calc(100vh/4) auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    
}
.card{
    padding:6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.card-orange{
    background-color:hsl(31, 77%, 52%);
}
.card-green{
    background-color:hsl(184, 100%, 22%);
}
.card-dark-green{
    background-color:hsl(179, 100%, 13%);
}
.text-head{
    font-size: 4rem;
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display','sans-serif';
    margin-bottom: 2rem;
    text-transform: uppercase;
    
}
.text-desc{
    font-size: 1.5rem;
    line-height: 2;
    color:hsla(0, 0%, 100%, 0.75);
    
    margin-bottom: 10rem;
}
.icn{
    margin-bottom: 3rem;
}
.btn:link,
.btn:visited{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-decoration: none;
}
.btn:hover,
.btn:active{
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px inset hsl(0deg 0% 95%);
    color: white !important;
}

.btn-orange:link,
.btn-orange:visited{
    color: hsl(31, 77%, 52%);
}

.btn-green:link,
.btn-green:visited{
    color: hsl(184, 100%, 22%);
}

.btn-dark-green:link,
.btn-dark-green:visited{
    color: hsl(179, 100%, 13%);
}
.footer-box{
    margin-top: 3rem;
}

.footer,.footer a:link,.footer a:visited{
    color: hsl(184, 100%, 22%);
    font-size: 1.1rem;
}
.footer a:hover,
.footer a:active{
    color: hsl(179, 100%, 13%);
}
@media all and (max-width:53.1em) {
    .column{
        grid-template-columns: 1fr;
    }
    html{
        font-size: 50%;
    }
}