@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --text-primary-blue : hsl(238, 29%, 16%);
    --text-primary-red:hsl(14, 88%, 65%);

    --bg-gradient-violet:hsl(273, 75%, 66%);
    --bg-gradient-blue:hsl(240, 73%, 65%);

    --text-natural-blue : hsl(237, 12%, 33%);
    --text-natural-blue-grayish : hsl(240, 6%, 50%);

    --divider-blue:hsl(240,5%,91%);

    --body-fontsize:12px;
}

/*Hazir classlar*/
.w-100{
    width: 100%;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'sans-serif','Kumbh Sans';
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62.5%;
    background: linear-gradient(180deg,var(--bg-gradient-violet),var(--bg-gradient-blue));
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 80vw;
    border-radius: 2rem;
    background: white;
    box-shadow: 0px 1rem 2rem 0px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 0 3rem 0;
    overflow: hidden;

}
.left{
    position: relative;

}
.right{
    padding: 3rem 3rem 3rem 0;
}
.overflow-box{
    width: 100%;
    position: relative;
    height: 100%;

}
.card-container{
    position: relative;
}
.bg-img{
    position: absolute;
    left: -110%;
    bottom: -50%;
    z-index: 1;


}
.box-img{
    position: absolute;
    top: 45%;
    left: -10%;
    z-index: 3;
}
.woman-img{
    position: absolute;
    left:-20%;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 2;

}
.text-head{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.question-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-head-text{
    font-size: 1rem;
    color: var(--text-natural-blue-grayish);
    cursor: pointer;
}
.question-desc-text{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--text-natural-blue-grayish);
    transition: transform 0.4s ease;
    transform: translateY(-100%);
    display: none;

}
.fa-chevron-down{
    color: var(--text-primary-red);
    font-size: 1rem;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.question{
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--divider-blue);
}
.question-box{
    width: 85%;
}
.active .question-head p{
    font-weight: 700;
    color: black;
}
.active .question-head .fa-chevron-down{
    transform: rotate(180deg);
}
.active .question-desc-text{
    transform: translateY(0);
    display: block;

}

.footer-box{
    margin-top: 2rem;
}
.footer-box p {
    font-size: .7rem;
}
.footer a:link,
.footer a:visited{
    color: black;
}
.footer a:hover,
.footer a:active{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

@media screen and (max-width:73.625em){
    .card{
        grid-template-columns: 1fr;
        grid-template-rows: 20rem 1fr;

    }
    .woman-img{
        width: unset;
        height: 20rem;
        left: 50%;
        transform: translateX(-50%);
        top: unset;
        bottom: 0;
    }
    .box-img{
        top: 10rem;
        left: unset;
    }
    .bg-img{
        height: 27rem;
        left:10%;
        bottom: -5%;
    }
    .right{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        height: unset;
        padding: 3rem;
    }
}
@media screen and (max-width: 36.875em) {
    .bg-img{height: 20rem
    }
    .woman-img{
        height: 13rem;
    }
    .box-img{
       
        display: none;
    }
    .card{
        width: 90vw;
    }
    .question-box{
        width: 100%;
    }
}

@media screen and (max-width: 28.43em) {
    body{
        font-size: 50%;
    }
    .question-head-text{
        font-size: .8rem;
    }
    .right{
        padding: 1.5rem;
    }
}
